# system
.DS_STORE
.idea
!.gitkeep

# docker
docker/db/data/*
docker/db/log/
**/log/*

# app
golang/app/glory
golang/cmd/bin/count_char

# config
.env
config.json

# credentials
credentials.json
token.json
