# system
.DS_STORE

# mysql
docker/db/data/*
docker/db/log/

# app
golang/app/glory
golang/app/cmd/count_char

# config
.env
config.json

# credentials
credentials.json
token.json

**/log/*
!.gitkeep
