{{define "title"}} glory {{end}}

{{define "content"}}
    <h1>Glory</h1>
        <p class="lead">
            学位論文の進捗状況を表示します
        </p>
        <div class="row pb-5">
        <ul>
            {{range $k, $v := .deadlines}}
                <li>{{$k}}の締め切りまであと<span class="font-weight-bold text-danger">{{$v}}日</span></li>
            {{end}}
        </ul>
        </div>
        <div class="card">
            <h5 class="card-header">論文ファイルの置き場について</h5>
            <div class="card-body">
                docxファイルを...に配置してください。
            </div>
        </div>
{{end}}
