{{define "title"}} {{.id}} {{end}}

{{define "content"}}
    <h1>{{.heading}}</h1>
    <div class="row pt-4">
        <div class="col-lg-8">
            <canvas id="progressChart"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <script>
                var ctx = document.getElementById("progressChart");
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [
                            {{range $i, $v := .chart.Dates}}{{if ne $i 0}},{{end}}{{$v}}{{end}}
                        ],
                        datasets: [
                            {{range .chart.AuthorDataList}}
                            {
                                label: '{{.Name}}',
                                data: [
                                    {{range $i, $v := .Data}}{{if ne $i 0}},{{end}}{{$v}}{{end}}
                                ],
                                lineTension: 0,
                                borderColor: "rgba({{.Color.R}},{{.Color.G}},{{.Color.B}},1)",
                                backgroundColor: "rgba(0,0,0,0)",
                            },
                            {{end}}
                        ],
                    },
                    options: {
                        title: {
                            display: false,
                            text: '進捗'
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    suggestedMax: {{.chart.Maxi}},
                                    suggestedMin: 0,
                                    stepSize: {{.chart.StepSize}},
                                    callback: function(value, index, values){
                                        return  value
                                    }
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    maxTicksLimit:6
                                }
                            }]
                        },
                    }
                });
            </script>
        </div>
        <div class="col-md-auto">

        </div>
        <div class="col-lg-2">
            ランキング(TBD)
            <table border="0" id="ranking_table">
                <tr>
                    <th>順位</th>
                    <th>名前</th>
                    <th>文字数</th>
                </tr>
            </table>
            <script>
                let tbl = document.getElementById("ranking_table");
                const ranking = {{.ranking}};
                ranking.forEach(row => {
                    let tr = document.createElement('tr');

                    let tdRank = document.createElement('td');
                    tdRank.innerHTML = row.Rank;
                    tr.appendChild(tdRank);
                    let tdName = document.createElement('td');
                    tdName.innerHTML = row.Name;
                    tr.appendChild(tdName);
                    let tdCount = document.createElement('td');
                    tdCount.innerHTML = row.CharCount;
                    tr.appendChild(tdCount);

                    tbl.appendChild(tr);
                });
            </script>
        </div>
    </div>
{{end}}
